<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Mumble for iOS Beta Portal</title>
	<link rel="stylesheet" type="text/css" media="screen" href="/betaweb.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			setInterval(function() {
				var active = $('.iphone .screen img.active');
				var next = active.next();
				if (next.attr('src') === undefined) {
					next = $('.iphone .screen img:first');
				}
				next.css({ opacity: 0.0 }).addClass('active').animate({ opacity: 1.0 }, 1000, function() {
					active.removeClass('active');
				});
			}, 5000);
		});
	</script>
	<script type="text/javascript">
	    var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-17225766-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>

	{% block head %}{% endblock %}
</head>
<body>
	<div class="topbar">
		<div id="topalign">
			<span id="title">{% block titlecontent %}{% endblock %}</span>
		</div>
	</div>
	<div id="maincontent">
		<div class="leftcontainer">
			{% if not g.betauser %}
			<div class="iphone">
				<div class="screen">
					<img class="active" src="/static/app.jpg"/>
					<img src="/static/screens/0.1-about.png"/>
					<img src="/static/screens/0.1-advaudio.png"/>
					<img src="/static/screens/0.1-identity.png"/>
					<img src="/static/screens/0.1-multitask.png"/>
					<img src="/static/screens/0.1-preferences.png"/>
					<img src="/static/screens/0.1-springboard.png"/>
					<img src="/static/app.jpg"/>
				</div>
			</div>
			{% else %}
			<div class="leftnav box">
				Welcome, <strong><a href="/profile">{{ g.betauser.get_name() }}</a></strong>.<br />

				<br />
				<strong>Navigation</strong>
				<ul>
					<li><a href="/">Index</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/download">Downloads</a></li>
					<li><a href="/faq">FAQ</a></li>
					<li><a href="/reportbug">Report bug</a></li>
					<li><a href="/logout">Log out</a></li>
				</ul>

				{% if g.betauser.admin %}
				<strong>Admin</strong>
				<ul>
					<li><a href="/upload">Upload</a></li>
				</ul>
				{% endif %}
			</div>
			{% endif %}
		</div>
		<div class="content">
		{% block content %}{% endblock content %}
		</div>
	</div>
	<br />
	<div id="disclaimer">
		<br /
		<span>
		Apple, the Apple logo, iPod, and iTunes are trademarks of Apple Inc., registered in the U.S. and other countries.
		iPhone is a trademark of Apple Inc.
		The iPhone-simulator image, the background and the top bar artwork copyright Apple Inc.
		</span>
		<br/><br/>
	</div>
</body>
</html>
