{% extends "base.html" %}

{% block titlecontent %}
<a href="/">Mumble for iOS Beta Portal</a>
&#x25B8;
<a href="/faq">Frequently Answered Questions</a>
{% endblock %}

{% block content %}
			<h1>Frequently Answered Questions</h1>
			<div class="box">
				<p>
					<strong>Why is this beta test so formal?</strong><br />
					Apple's ad-hoc distribution (distribution that does not go through the App Store) to be distributed
					to 100 devices in total.
				</p>

				<p>
					<strong>Is this a closed beta test?</strong><br />
					No. This beta test is quite open. However, only devices that are on the list of participating devices
					will be able to use the binaries provided on this page.
				</p>

				<p>
					<strong>I'm an iPhone developer, and can run the binaries provided on this page without being added to your ad-hoc distribution profile. Should I sign up for the beta test anyway?</strong><br />
					Please don't. This beta test is only for people who cannot build the source and run it on their phones themselves.
					We'd still love any feedback we can get, including bug reports. See the <a href="/reportbug">Bug Reporting</a> page.
				</p>

				<p>
					<strong>What is required of a participating beta tester?</strong><br />
					We expect you to upload any crashes that happen to you. Crash reports on iOS are synced to the computer on
					which you use iTunes to manage your device. We provide a downloaable utility that helps you upload crash reports
					to the beta test portal. See <a href="/reportcrash">Reporting Crashes</a>.<br /><br />
					Apart from that hope you will report your thoughts on the program and any bugs you find and any features you would
					like to see in the program to the GitHub issue trackers. See the <a href="/reportbug">Bug Reporting</a> page to find
					out how to submit feedback.
				</p>

				<p>
					<strong>Why do I need to provide my device's UDID?</strong><br />
					Devices are identified by their UDID when using Apple's ad-hoc distribution mechanism.
				</p>
			</div>
{% endblock %}
