{% extends "base.html" %}

{% block titlecontent %}
<a href="/">Mumble for iOS Beta Portal</a>
&#x25B8;
<a href="/profile">Profile</a>
{% endblock %}

{% block content %}
			<h1>Profile</h1>
			<div class="box">

				This is your beta test profile. Your current participation status is: 
				{% if g.betauser.inbeta %}
				<strong style="color: green;">Participating</strong>
				{% else %}
				<strong style="color: red;">Not Participating</strong>
				{% endif %}
				<br /><br />

				Don't know your UDID? See <a href="http://www.innerfence.com/howto/find-iphone-unique-device-identifier-udid">http://www.innerfence.com/howto/find-iphone-unique-device-identifier-udid</a><br /><br />

				<form method="post" action="/profile/update">					
					<table>
						<tr>
							<td>Name</td>
							<td><input class="pinput" type="text" name="name" value="{% if g.betauser.name %}{{ g.betauser.name }}{% endif %}" /></td>
							<td class="descr">This should not necessarily be your real name, a nickname will do.</td>
						</tr>
						<tr>
							<td>Email</td>
							<td><input class="pinput" type="email" name="email" value="{% if g.betauser.email %}{{ g.betauser.email }}{% endif %}" /></td>
							<td class="descr">Your email address will be used to notify you of any changes in your beta status and to reclaim lost login credentials.</td>
						</tr>
						<tr>
							<td>UDID</td>
							<td><input class="pinput" type="text" name="udid" value="{% if g.betauser.udid %}{{ g.betauser.udid }}{% endif %}" /></td>
							<td class="descr">This is your device's UDID. This is used to allow your device to run the distributed .ipa files</td>
						</tr>
						<tr>
							<td>Device</td>
							<td><input class="pinput" type="text" name="devtype" value="{% if g.betauser.devtype %}{{ g.betauser.devtype }}{% endif %}" /></td>
							<td class="descr">The device type corresponding to the UDID. Name and generation, if possible (i.e. iPhone 4, iPad, iPhone 3Gs)</td>
						</tr>
						<tr>
							<td>OS version</td>
							<td><input class="pinput" type="text" name="osver" value="{% if g.betauser.osver %}{{ g.betauser.osver }}{% endif %}" /></td>
							<td class="descr">The version of iPhoneOS or iOS that your device is running</td>
						</tr>
						<tr>
							<td>Email Notifications</td>
							<td><input class="pinput" type="checkbox" name="emailnotify" value="emailnotify" {%if g.betauser.emailnotify %} checked="true" {% endif %} /></td>
							<td class="descr">Receieve notification when your beta status changes via email</td>
						</tr>
						<tr>
							<td>Consider Me</td>
							<td><input class="pinput" type="checkbox" name="participate" value="participate" {% if g.betauser.participate %} checked="true" {% endif %} /></td>
							<td class="descr">Check this box if you wish to be considered for the beta test</td>
						</tr>
					</table>

					<br />
					Other Comments<br />
					<span class="descr">Why should we pick you?</span><br />
					<textarea cols="50" rows="10" name="comments">{% if g.betauser.comments %}{{ g.betauser.comments }}{% endif %}</textarea>
					<br /><br />

					<input type="submit" value="Update" />
					<br /><br />

					If you lose a device that is currently participating in the beta test (it gets stolen, broken, etc.) you can change the UDID at any time using
					the above form. Note however that it can take some time to get back into the beta test because the distribution profiles will have to be redone
					using your new device's UDID.<br /><br />

					If you no longer wish to participate in the beta, to make room for others, you can uncheck the 'Consider Me' checkbox above.<br /><br />
				</form>
			</div>
{% endblock %}
