{% extends "base.html" %}

{% block titlecontent %}
<a href="/">Mumble for iOS Beta Portal</a>
&#x25B8;
<a href="/reportbug">Report Bug / Feedback</a>
{% endblock %}

{% block content %}
<h1>Report Bug</h1>
	<div class="box">
		<p>
			Bugs and feature requests for Mumble for iOS should be reported at the issue tracker on GitHub:<br />
			<a href="http://github.com/mkrautz/mumble-iphoneos/issues">Mumble for iOS Issue Tracker</a>
		</p>

		<p>
			Bugs and feature requests for this beta portal should be reported at its GitHub issue tracker:<br />
			<a href="http://github.com/mkrautz/mumble-iphoneos-betaweb/issues">Mumble for iOS Beta Web Issue Tracker</a>
		</p>

		<p>
			Please try to search the issue tracker for duplicate reports, and check that youre issue is still present in the latest beta release before reporting a problem.
		</p>

		<p>
			If you do not wish to make your bug public, you can <a href="mailto:mikkel@krautz.dk">email it</a> instead.
		</p>

		<p>
			You can also visit the Mumble project on IRC. We reside in #mumble on Freenode. <a href="irc://irc.freenode.org/mumble">Join now!</a>
		</p>
	</div>
{% endblock %}
